{
  "Threads": [
    {
      "PacketsDirectory": "/data/stenographer/{{ rock_monifs }}/thread0/packets"
    , "IndexDirectory": "/data/stenographer/{{ rock_monifs }}/thread0/index"
    , "MaxDirectoryFiles": 30000
    , "DiskFreePercentage": 10
    }
  ]
  , "StenotypePath": "/usr/bin/stenotype"
  , "Interface": "{{ rock_monifs }}"
  , "Port": {{ 1234 + item.0 }}
  , "Host": "127.0.0.1"
  , "Flags": ["-v"]
  , "CertPath": "/etc/stenographer/certs"
}
