version: "2"
services:
  logstash:
    image: "docker.elastic.co/logstash/logstash:{{ elastic_ver }}"
    container_name: logstash
    restart: always
    volumes:
    - "{{ logstash_dir }}/pipelines.yml:/usr/share/logstash/config/pipelines.yml"
    - "{{ logstash_dir }}/logstash.yml:/usr/share/logstash/config/logstash.yml"
    - "{{ logstash_config_dir }}:/usr/share/logstash/pipeline"
    - "{{ logstash_data_dir }}:/usr/share/logstash/data/"
    - "{{ logstash_log_dir }}:{{ logstash_log_dir }}"

networks:
  default:
    external:
      name: 'rocknsm_inside'
